@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap");

* {
  margin: 0;
  padding: 0;
}

.navbox {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100px;
  background-color: rgb(0, 26, 110);
}

h1,
.navitem-box {
  display: flex;
}

h1 {
  position: relative;
  align-items: center;
  left: 5%;
  font-size: 4em;
}

.navitem-box {
  position: relative;
  left: 84.5%;
  align-items: center;
}

.navitems {
  margin-right: 20px;
}

.navitems:hover {
  color: rgb(233, 233, 233);
  cursor: pointer;
}

h1,
.navitems {
  color: white;
  font-family: "Gentium Book Basic", serif;
}
